.index{
  .userName{
    font-size: 20px;
    float: right;

    > span{
      position: relative;
      cursor: pointer;
      display: inline-block;
      z-index: 100;
      top:0;
      left: 0;
      padding: 0 20px;
      background-color: #ffffff;
    }

    .setList{
      position: relative;
      top:-500px;
      transition: all .8s;
      list-style: none;
      padding: 0;
      background-color: #ffffff;
      padding-top: 64px;
      opacity:0;
      z-index: 99;
      margin-bottom:0; 
    }
  
    .setList > li {
      padding: 10px;
      cursor: pointer;
    }

    >span:hover+.setList{
      top:-64px;
      opacity:1;
    }

    .setList:hover{
      opacity:1;
      top:-64px;
    }

  }
}
