.index{
  .userName{
    font-size: 20px;
    float: right;
    position: relative;
    > span{
      position: relative;
      cursor: pointer;
      display: inline-block;
      z-index: 100;
      top:0;
      left: 0;
      padding: 0 20px;
      background-color: #ffffff;
    }

    .setList{
      position: absolute;
      display: none;
      list-style: none;
      padding: 0;
      background-color: #ffffff;
      z-index: 99;
      margin-bottom:0;
    }
  
    .setList > li {
      padding: 10px;
      cursor: pointer;
    }

    &:hover >.setList{
      display: block;
      animation: onShow 1s ease-in;
    }




    @keyframes onShow {
      from {opacity: 0}
      to {opacity: 1}
    }

  }
}
