.index{
  animation: myshow 3s infinite;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
}

@keyframes myshow
{
  0% {opacity: 0;}
  100% {opacity: 1;}
}